.space_icon_nav {
    height: 60px;
    margin-left: 20px;
  }

  /* Icono carrito */

.iconoCarrito{
  width: 45px;
}

.parrafoIcono{
  font-size: 25px;
  color: black;
  padding-top: 15px;
}

.itemsCarrito{
  display: flex;
}