.colorNavbar {
    background-color: rgb(246, 218, 248);
}

/* Css Dropdow */
.dropdown-menu{
    margin-left: 60px;
}

.dropdown-item{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;   
}

.dropdown-item:hover {
    background-color: rgb(147, 239, 239);
    width: 90%;
    border-radius: 4px;
}

.iconoDropdown {
    height: 20px;
    margin-right: 10px ;
  }

.link {
    text-decoration: none; 
}