.imagen_tamaño {
    /*background-color: rgb(180, 0, 180);*/
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-img {
    height: 700px;

}

.tamañoEspacio {
    width: 100%;
}


.title {
    font-size: 100px;
    color: aqua;
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

.text {
    margin: 0px;
    font-size: 50px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Shadows Into Light', cursive;
}

.centerHeader {
    
    width: 500px;
    position: absolute;
    top: 30%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  @media (max-width: 1200px){ 
    .centerHeader {
        width: 500px;
        position: absolute;
        top: 30%;
        left: 85%;
        transform: translate(-50%, -50%);
        color: #fff;
      }

      .title {
        font-size: 70px;

    }
    
    .text {
        font-size: 100%;
    }

    
  }